@font-face {
  font-family: Graphik-Regular;
  src: url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Regular.woff2")
      format("woff2"),
    url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Regular.woff")
      format("woff"),
    url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Regular.ttf")
      format("truetype"),
    url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Regular.svg#Graphik-Regular")
      format("svg"),
    url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Regular.eot?#iefix")
      format("embedded-opentype");
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Graphik-Medium;
  src: url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Medium.woff2")
      format("woff2"),
    url("https://cdn.nubank.com.br/fonts/Graphik/variants/Graphik-Medium.woff")
      format("woff");
  font-style: normal;
  font-display: fallback;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  text-size-adjust: 100%;
}

body {
  font-family: "Graphik-Regular", "Gotham SSm A", "Gotham SSm B",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
