.Header {
  position: fixed;
  display: inline-flex;
  left: 0;
  right: 0;
  top: 0;

  height: 80px;
  padding-left: 32px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;

  align-items: center;
  justify-content: space-between;

  z-index: 5;
}

.Header svg {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.Header div {
  width: 917px;
}

.Header span {
  font-size: 18px;
  padding: 19px 12px;
  color: #767676;
  transition: all 200ms ease-in-out 0s;
  font-weight: 400;
}

.Header .purple {
  color: #8a05be;
}
.Header span:hover {
  cursor: pointer;
  color: #ba4de3;
}

.Header button {
  background-color: #8a05be;
  color: #fff;
  padding: 19px 32px;
  font-size: 18px;
  border: none;
  height: 80px;
}

.Header button:hover {
  background-color: #ba4de3;
  cursor: pointer;
}
